# HTTP/HTTPS Config
HttpPort                        = 80
HttpsPort                       = 443
HttpsCertFile                   = "https/cert.pem"
HttpsKeyFile                    = "https/key.pem"

# SMTP Config
SmtpHost                        = "smtp.domain.com"
SmtpPort                        = 587
SmtpUser                        = "username"
SmtpPassword                    = ""
SmtpSender                      = "support@domain.com"

# Query Manager Config
QueryManagerHost                = "127.0.0.1"
QueryManagerPort                = 7173
QueryManagerPassword            = "a6glaf0c"

# Query Manager Cache Config
MaxCachedAccounts               = 4096
MaxCachedCharacters             = 4096
CharacterRefreshInterval        = 15m
WorldRefreshInterval            = 15m
