{{template "_header.tmpl" .Common}}
	<form class="box" action="#">
		<h1>Recover Account</h1>
		<p style="color: #A11;">Account recovery not currently implemented.</p>

		<label for="recover_email">EMAIL</label>
		<input id="recover_email" type="text" name="email"/>

		<input type="submit" value="Recover" disabled/>
	</form>
{{template "_footer.tmpl" .Common}}